<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-flex">
        <h1>@Localizer["Header"]</h1>
    </div>
    <h4>@Localizer["Quest"]</h4>
    <p>@Localizer["Description"]</p>
    <h4>@Localizer["Quest2"]</h4>
    <p>1) @Localizer["First"].</p>
    <p>2) @Localizer["Second"].</p>
    <hr>
    <form asp-action="UploadAnalyzeFile" method="POST" enctype="multipart/form-data">
        <input type="file" class="form-conrol" name="file">
        <button type="submit">@Localizer["Button"]</button>
    </form>
</body>
</html>